@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #242527;
  --primary: #2387c0;
  --primary-foreground: #ffffff;
  --muted-foreground: #c4c4c4;
  --accent: #232D33;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);

  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
}
